version: "3.7"

services:
  db:
    container_name: musicart-db
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_PASSWORD: password
    ports:
      - 4306:3306
    env_file:
      - .env
    volumes:
      - mysql-db:/var/lib/mysql

  api: &api
    container_name: musicart-api
    tty: true
    build:
      context: ./api/
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./api:/app
    environment:
      TZ: Asia/Tokyo
    env_file:
      - .env
    depends_on:
      - db

  api_test:
    <<: *api
    container_name: api-test
    environment:
      RAILS_ENV: test
    env_file:
      - .env.test
    profiles:
      - test_only # up -dでは起動しないようにする

  front:
    container_name: musicart-front
    build:
      context: ./front/app/
      dockerfile: Dockerfile
    volumes:
      - ./front/app:/app
    command: "npm run dev"
    ports:
      - "8000:3000"
volumes:
  mysql-db:
    driver: local
